{{> restaurant-tabs route='/restaurants/top'}}
<h1>人氣餐廳</h1>
<hr>
<div class="container">
  {{#each restaurants}}
    <div class="card w-75 mx-auto mb-4 shadow-sm" style="min-width: 330px;">
      <div class="row">
        <div class="col-5">
          <img src="{{ifNoImage this.image}}" class="card-img-top w-100">
        </div>
        <div class="col-7 px-0">
          <div class="card-body">
            <div class="mb-5">
              <h4 class="card-title fw-bold mb-3">{{this.name}}</h4>
              <sapn class="bg-secondary text-white rounded p-1 fw-bold">收藏數：{{this.favoritedCount}}</sapn>
            </div>
            <p class="card-text">{{this.description}}</p>
            <div>
              <a href="/restaurants/{{this.id}}" class="btn btn-primary me-2 mt-2 fw-bold"><i class="fa-solid fa-circle-info"></i> 詳細內容</a>
              {{#if isFavorited}}
              <form action="/favorite/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-danger fw-bold mt-2"><i class="fa-regular fa-heart"></i> 移除最愛</button>
              </form>
              {{else}}
              <form action="/favorite/{{this.id}}" method="POST" style="display: inline;">
                <button type="submit" class="btn btn-primary fw-bold mt-2"><i class="fa-solid fa-heart"></i> 加到最愛</button>
              </form>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
