<div class="container">
  <div class="row px-2 ">
    <div class="col-12">
      <div class="row border border-1 rounded p-2 py-4 shadow-sm">
        <div class="col-lg-4 col-12 col-md-6 m-auto">
          <img src="{{ifNoImage user.image}}" alt="user image" class="img h-100 w-100">
        </div>
        <div class="col-lg-8 col-12 col-md-6 mt-3">
          <div class="row">
            <div class="col-xxl-6">
              <h2 class="fw-bold">{{user.name}}</h2>
              <p>{{user.email}}</p>
              <p>{{commentCount}} 間已評論餐廳</p>
              <p>{{favoritedCount}} 間已收藏餐廳</p>
              <p>{{followerCount}} 位追蹤者</p>
              <p>{{followingCount}} 位您正在追蹤</p>
            </div>
            {{#if isPersonal}}
            <div class="col-xxl-6 position-relative">
              <a href="/users/{{user.id}}/edit" class="btn btn-primary position-absolute bottom-0 end-0 m-1">編輯</a>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row d-flex justify-content-between h-25">
    <div class="col-md-4 col-12 p-0 mt-3 px-2">
      {{!-- 追蹤者 --}}
      <div class="card w-100 shadow-sm" style="height: 260px;">
        <div class="card-header">
          {{followerCount}} 位追蹤者
        </div>
        <div class="card-body row d-flex justify-content-start p-3 gx-1" style="overflow-y: auto">
          {{#if user.Followers}}
          {{#each user.Followers}}
          <div class="col-lg-4 col-3 mt-1">
            <a href="/users/{{this.id}}">
              <img src="{{ifNoImage this.image}}" class="w-100">
            </a>
          </div>
          {{/each}}
          {{else}}
          <span>尚未有追蹤者</span>
          {{/if}}
        </div>
      </div>
      {{!-- 正在追蹤 --}}
      <div class="card w-100 mt-3 shadow-sm" style="height: 260px;">
        <div class="card-header">
          {{followingCount}} 位您正在追蹤的使用者
        </div>
        <div class="card-body row d-flex justify-content-start p-3 gx-1" style="overflow-y: auto">
          {{#if user.Followings}}
          {{#each user.Followings}}
          <div class="col-lg-4 col-3 mt-1">
            <a href="/users/{{this.id}}">
              <img src="{{ifNoImage this.image}}" class="w-100">
            </a>
          </div>
          {{/each}}
          {{else}}
          <span>尚未有您正在追蹤的使用者</span>
          {{/if}}
        </div>
      </div>
    </div>
    <div class="col-md-8 col-12 p-0 mt-3 px-2">
      {{!-- 已評論餐廳 --}}
      <div class="card w-100 shadow-sm" style="height: 260px;">
        <div class="card-header">
          {{commentCount}} 間已評論餐廳
        </div>
        <div class="card-body row d-flex justify-content-start p-3 gx-1" style="overflow-y: auto">
          {{#if comments}}
          {{#each comments}}
          <div class="col-lg-2 col-3 mt-1">
            <a href="/restaurants/{{this.Restaurant.id}}">
              <img src="{{ifNoImage this.Restaurant.image}}" class="w-100">
            </a>
          </div>
          {{/each}}
          {{else}}
          <span>尚未評論過餐廳</span>
          {{/if}}
        </div>
      </div>
      {{!-- 已收藏餐廳 --}}
      <div class="card w-100 mt-3 shadow-sm" style="height: 260px;">
        <div class="card-header">
          {{favoritedCount}} 間已收藏餐廳
        </div>
        <div class="card-body row d-flex justify-content-start p-3 gx-1" style="overflow-y: auto">
          {{#if user.FavoritedRestaurants}}
          {{#each user.FavoritedRestaurants}}
          <div class="col-lg-2 col-3 mt-1">
            <a href="/restaurants/{{this.id}}">
              <img src="{{ifNoImage this.image}}" class="w-100">
            </a>
          </div>
          {{/each}}
          {{else}}
          <span>尚未有收藏餐廳</span>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
