<div class="container">
  <div class="row border border-1 p-3 h-75">
    <div class="col-4">
      <img src="{{user.image}}" alt="user image" class="img w-75">
    </div>
    <div class="col-8">
      <h2 class="fw-bold">{{user.name}}</h2>
      <p>{{user.email}}</p>
      <a href="/users/{{user.id}}/edit" class="btn btn-primary">Edit</a>
    </div>
  </div>
  <div class="row my-3 border border-1 h-25">
    <div class="col-12 border border-1 w-100 p-3" style="background-color:lightgray;">
      <span class="m-0 fw-bold">已評論餐廳</span>
    </div>
    <div class="col-12">
      <div class="row p-4 justify-content-start gx-auto">
        {{#if comments}}
        {{#each comments}}
        <div class="col-1 mt-1">
          <a href="/restaurants/{{this.Restaurant.id}}">
            <img src="{{this.Restaurant.image}}" class="w-100">
          </a>
        </div>
        {{/each}}
        {{else}}
        <span>尚未評論過餐廳</span>
        {{/if}}
      </div>
    </div>
  </div>
</div>
